.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  background: #0ff;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
